PRPCSCREEN_SESSION_SECRET=change-me
PRPCSCREEN_APPROVAL_TOKEN_SECRET=change-me
PRPCSCREEN_PUBLIC_BASE_URL=http://10.10.20.10:8083
PRPCSCREEN_LOCAL_BYPASS_HOSTS=localhost,127.0.0.1,127.0.1.1,10.10.20.10
PRPCSCREEN_AUTH_CONTACT_EMAIL=contact@isab.science
PRPCSCREEN_ADMIN_EMAIL=admin@isab.science
PRPCSCREEN_ADMIN_PASSWORD=change-me
PRPCSCREEN_PRIMARY_ADMIN_USER=aag
PRPCSCREEN_PRIMARY_ADMIN_EMAIL=adriano.aguzzi@isab.science
CRISPR_SHARED_DATA_ROOT=/home/aag/crispr_data/shared
PRPCSCREEN_SYSTEM_DATA_ROOT=/srv/crispr/ScreenResults
PRPCSCREEN_DATA_ROOT=/srv/crispr/ScreenResults
PRPCSCREEN_METADATA_DB_PATH=pooled_webapp/state/metadata.sqlite3
